.grid-column {
    h2 + ul {
        margin-top: 0
    }

    h2:has(+ ul) {
        margin-bottom: 0
    }
}

.slidev-layout ul ul {
    margin-top: 0
}

html, body, #app, #page-root, .slidev-layout {
    font-family:
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
}
